body {
  background: #00bcd4;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
}

.middle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 100vh;
  margin: auto;
}

svg:not(#svg-question) {
  width: 500px;
  display: block;
  position: relative;
}

.control-container {
  position: absolute;
  top: 0px;
  width: 400px;
  font-family: arial;
}

.speed,
.delay {
  width: 50px;
}

img {
  width: 100px;
}

#svg-question {
  transform: translate(239px, -269px);
  top: 39.5%;
  left: 47.8%;
  opacity: 0;
  animation: show 7.5s ease-in-out forwards alternate;
}

@-webkit-keyframes show {
  0% {
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
  }
  100% {
    opacity: 1;
  }
}

.text-js {
  opacity: 0;
}

.text-js {
  opacity: 0;
}

.cursor {
  display: block;
  position: absolute;
  height: 47%;
  top: 25px;
  right: -5px;
  width: 2px;
  background-color: white;
  opacity: 0;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
  animation-iteration-count: 13;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.headline-wrap {
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
}

.headline {
  color: white;
  font-size: 32px;
  text-align: center;
}
.headline h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 4.6px;
}

.iframe {
  width: 1000px;
  height: 700px;
}
